In [ ]:
# Nama : Cecillia Cherish Mardjuki
# NIM : 825220090

In [ ]:
a = 5
b = 4
c = a + b
# memberikan isi kedalam variable
print('Nilai c = ', c)
# mencetak tulisan seta isi dari variable c

Nilai c =  9

In [ ]:
print('Hello World')
# mencetak tulisan Hello World

Hello World

In [ ]:
x=5
y=6.7
# memberikan isi kedalam variseble

print('Nilai variable x = ', x)
print('Nilai variable y = ', y)
# mecetak tulisan serta isi dari variable yang dipanggil

Nilai variable x =  5
Nilai variable y =  6.7

In [ ]:
z1 = x + y
z2 = x - y
z3 = x * y
z4 = x / y
# memberikan isi kedalam variable

print('Nilai variable z1 = ', z1)
print('Nilai variable z2 = ', z2)
print('Nilai variable z3 = ', z3)
print('Nilai variable z4 = ', z4)
# mencetak tulisan serta nilai variable yang dipanggil

Nilai variable z1 =  11.7
Nilai variable z2 =  -1.7000000000000002
Nilai variable z3 =  33.5
Nilai variable z4 =  0.7462686567164178

In [ ]:
a = 5
b = 2
# memberikan isi pada variable a dan b
c1 = a ** b
# ** artinya untuk pangkat, jadi a pangkat b, dan hasilnya akan disimpan pada variable c1
c2 = a % b
# % untuk menghitung pembagian antara a dan b dan sisa dari pembagian tersebuta akan menjadi nilai dari variable c2

print('Nilai variable c1 = ', c1)
print('Nilai variable c2 = ', c2)
# mencetak tulisan serta nilai variable yang dipanggil

Nilai variable c1 =  25
Nilai variable c2 =  1

In [ ]:
str = 'Belajar pemrograman Python'
# str berisi tulisan ini
print(str)
# mencetak isi dari variable str
# str itu string, dan disini variable string digunakan untuk menyimpan isi tulisan

Belajar pemrograman Python

In [ ]:
import sys
print(sys.version)
# mengunakan library sys dengan printah import
# dan mencetak versi dari sys python

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

In [ ]:
if 5 > 2:
  print('Lima lebih besar dari dua!')
# jika memenuhi kriteria dari if maka akan menjalankan print('Lima lebih besar dari dua!') yaitu mencetak tulisan a lebih besar dari dua!

Lima lebih besar dari dua!

In [ ]:
if 5 > 2:
print('Lima lebih besar dari dua!')
# jika tidak menggunakan spasi didepan print akan terjadi error

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-1-b9dc3d6dc197>, line 2)

In [ ]:
# Ini komentar(comment)
print("Hello, world!")
print("Hello, world!") #Ini komentar (comment)
# penggunaan # untuk comment ini tutorial

Hello, world!
Hellow, world!

In [ ]:
x = 5
y = "Jhon"
z = 3.14
# memberikan isi kedalam variable, disini ada tiga jenis isi dari variable yaitu
# string(untuk tulisan atau kata ataupun kalimat) dan integer(untuk angka bulat) dan float(untuk angka koma/desimal)

print(type(x))
print(type(y))
print(type(z))
# mencetak type/jenis isi dari variable yang diminta yaitu x, y, z

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
x1 = "Jhon"
x2 = 'John'
# Kutip '' dan " " memiliki fungsi yang sama, yaitu untuk string
print(x1)
print(x2)
# Mencetak isi dari x1 dan x2

Jhon
John

In [ ]:
a = 4
A = "Empat"
# membrikan isi dari variable, ada dua jenis isi yaitu angka(integer) dan huruf(string)
print(a)
print(A)
# ini membuktikan bahwa a dan A itu berbeda dan dapat digunaan bersamaan karena huruf kecil dan huruf besar diaggap variabke yang berbeda

4
Empat

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
# ini merupakan contoh penggunaan variable yang dapat digunakan

Jin
John

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John"
# ini merupakan contoh penggunaan variable yang tidak dapat digunakan

SyntaxError: invalid decimal literal (<ipython-input-8-0e82719f22b4>, line 1)

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
# mengisi variable yang berbeda-beda dapat menggunakan koma(,) selain menggunakan Enter pada pengisian variable baru
print(x)
print(y)
print(z)
# mencetak nilai yang dipanggil

Orange
Banana
Cherry

In [ ]:
x = y = z = "Orange"
# dapat menggunakan = pada tiap variable yang berbeda tapi memiliki nilai yang sama
print(x)
print(y)
print(z)
# mencetak nilai dari variable

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
# variable fruits memiliki isi yaitu array ["apple", "banana", "cherry"]
# nilai pertama yaitu apple merupakan array 0, banana 1, cherry 2, jadi untuk nilai aray pada nilai pertama dimulai dari 0
print(fruits)
# mencetak nilai dari variable

['apple', 'banana', 'cherry']

In [ ]:
number = [1,2,3,4,5]
# variable number menyimpan nilai berupa array yang berisi angka
print(number)
# mencetak nilai dari variable

[1, 2, 3, 4, 5]

In [ ]:
mixed = [1, 'satu', 2, 'dua', 3, 'tiga']
# variable number menyimpan nilai berupa array yang dicampur dengan angka(integer) dan kata(string)
print(mixed)
# mencetak nilai dari variable

[1, 'satu', 2, 'dua', 3, 'tiga']

In [ ]:
x, y, z = fruits
# disini variable x, y, z memiliki isi yaitu fruits yang merupakan variable yang memiliki isi array diatas tadi
print(x)
print(y)
print(z)
# mencetak nilai dari variable, variable yang dipanggil memiliki isi yang memiliki isi array, jika jumlah isi dari array lebih atau kurang dan tidak sesuai dengan jumlah yang dipanggil akan terjadi error

apple
banana
cherry

In [ ]:
fruits = ["apple", "banana", "cherry"]
# variable ini memiliki isi array, dan array itu untuk nilai pertama akan dimulai dari 0
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[-1])
print(fruits[-2])
# mencetak isi dari array yang di sebutkan yaitu 0, 1, 2, -1, -2
# karena array itu dimulai dari 0 dan -1 dan -2 tidak ada maka akan terjadi pengulangan

apple
banana
cherry
cherry
banana

In [ ]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
# variable ini berisi array
print(fruits[2:5])
# ini menggunakan slicing untuk mengambil elemen dari indeks 2 hingga indeks 4 (indeks 5 tidak termasuk) lalu mencetaknya

['cherry', 'orange', 'kiwi']

In [ ]:
fruits = ["apple", "banana", "cherry"]
# variable ini berisi array
fruits.append("orange")
# ini untuk menamnbahkan isi kedalam array milik fruits dari urutan terakhir
print(fruits)
# mencetak isi dari variable fruits

['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits = ["apple", "banana", "cherry"]
# variable ini berisi array
fruits.insert(1, "orange")
# ini untuk menamnbahkan isi kedalam array milik fruits dari ke urutan index 1, sehingga nilai yang lain ikut tergeser
print(fruits)
# mencetak isi dari variable fruits

['apple', 'orange', 'banana', 'cherry']

In [ ]:
fruits = ["apple", "banana", "cherry"]
# variable ini berisi array
fruits[1] = "blackcurrant"
# menggantikan array index 1 dengan blackcurrant
print(fruits)
# mencetak isi dari array fruits

['apple', 'blackcurrant', 'cherry']

In [ ]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
fruits[1:3] = ["blackcurrant", "watermelon"]
# ini akan mengantikan isi dari array index 1 sampai ke 2(3 tidak termasuk)
print(fruits)
# mencetak isi dari array fruits

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
x = "awesome"
print("Python is " + x)
# menampilkan tulisan serta pengambilan dari nilai x

Python is awesome

In [ ]:
x = "awesome"
print("Python is ", x)
# menampilkan tulisan serta pengambilan dari nilai x

Python is  awesome

In [ ]:
x = "Python is "
y = "awesome"
z = x + y
#  menggabungkan nilai variable x dan y lalu menyimpannya pada variable z
print(z)
#  mencetak variable z

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)
# mencetak hasil dari x + y

15

In [ ]:
x = 5
y = "Lima"
print(x + y)
# mencetak hasil dari x + y, terjadi error karena hanya variable dengan variable dan angka dengan angka jika ingin di gabungkan

In [ ]:
x = ("apple", "banana", "cherry")
print(x)
# mencetak nilai dari x yang berisi benerapa kata mirip array

('apple', 'banana', 'cherry')

In [ ]:
x = range(6)
print(x)
# mencetak rentang nilai dari 6, yang dimualai dari 0

range(0, 6)

In [ ]:
x = {"name" : "Jhon", "age" : 36}
print(x)
# mencetak nilai dari x yang menggunakan : dan , dan tetap tercetak sama persis dengan isinya

{'name': 'Jhon', 'age': 36}

In [1]:
x = {"apple", "banana", "cherry"}
print(x)
# mencetak nilai dari x

{'banana', 'apple', 'cherry'}

In [ ]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
# mencetak nilai dari x tapi nilainya tidak akan berubah

frozenset({'cherry', 'apple', 'banana'})

In [ ]:
x = True
print(x)
# mencetak nilai dari x

True

In [ ]:
x = b"Hello"
print(x)
# mencetak nilai dari x bisa mencetak b dan Hello, karena yang dibaca hanya ' ' maka tercetak ' ' sisanya untuk tulisan Hello

b'Hello'

In [ ]:
x = bytearray(5)
print(x)
# mencetak nilai dari x yaitu byte dari ukuran array 5

bytearray(b'\x00\x00\x00\x00\x00')

In [ ]:
x = memoryview(bytes(5))
print(x)
# mencetak nilai dari x, yaitu memory dari 5 byte

<memory at 0x7a795ab92ec0>

In [3]:
# python casting
x = int(1)      # nilainya angka bulat
y = int(2.8)    # nilainya angka desimal
z = int("3")    # nilainya huruf/string walaupun angka karena menggunakan " "
# tapi semuanya dideklarasikan sebagai integer yaitu untuk angka bulat

print('x = ' , x)
print('y = ' , y)
print('z = ' , z)
# mencetak masing-masing isi dari variable,
# karena dideklarasi sebagai int maka semua nilai dianggap sebagai angka bulat/ dijadikan angka bulat dan dibulatkan ke bawah

x =  1
y =  2
z =  3

In [ ]:
x = float(1)      # nilai angkanya bulat
y = float(2.8)    # nilai angkanya desimal
z = float("3")    # nilai angkanya bulat tapi menggunakan " " yang biasanya untuk string
w = float("4.2")  # nilai angkanya desimal tapi menggunakan " " yang biasanya untuk string
# dan semua dideklarasi sebagai float yaitu decimal

print(x)
print(y)
print(z)
print(w)
# mencetak nilai dari masing-masing variable
# karena dideklarasi sebagai float yaitu decimal maka semua nilainya akan dianggap atau dirubah menjadi decimal

1.0
2.8
3.0
4.2

In [ ]:
# mengiris string
b = "Selamat makan"
# sama seperti array index dimulai dari 0
print(b[2:5])
# mengiris isi dari variable b yang berupa kalimat, yaitu karakter ke-2 hingga karakter ke-4 (indeks 5 tidak termasuk) saja
# Indeks 2 adalah "l", indeks 3 adalah "a", dan indeks 4 adalah "m"
# dan mencetaknya

lam

In [ ]:
b = "Selamat makan"
print(b[:5])
# mengambil karakter dari indeks 0 hingga 4 (indeks 5 tidak termasuk) dan mencetaknya

Selam

In [ ]:
fruits = ["apple", "banana", "cherry"]
tropical = ["mango", "pinaple", "papaya"]
fruits.extend(tropical)
print(fruits)
# menambahkan isi dari variable fruits dengan isi dari variable tropical dan mencetaknya

['apple', 'banana', 'cherry', 'mango', 'pinaple', 'papaya']

In [ ]:
# menghapus elemen list
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
# kita dapat menggunakan .remove untuk menghapus nilai pada array
print(fruits)
#  dan lalu ini untuk mencetak nilai dari fruits

['apple', 'cherry']

In [ ]:
# IF ELSE
a = 33
b = 200
if b > a:
  print("b is greater than a")
#  jika ketentuan if terpenuhi maka akan melakukan langkah selanjutnya yaitu mecetak tulisan b is greater than a

b is greater than a

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")
# jika ketentuan(if) b > a terpenuhi maka akan dijalankan perintah mencetak print("b is greater than a"),
# namun jika tidak terpenuhi(else) maka akan dijalankan perintah mencetak print("b is not greater than a")

b is not greater than a

In [ ]:
# AND
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")
# jika ketentuan(if) a > b dan and c > a terpenuhi keduanya, maka akan mencetak print("Both conditions are True")

Both conditions are True

In [ ]:
# OR
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At last one of the conditions are True")
# jika ketentuan(if) a > b atau a > c terpenuhi salah satunya saja, maka maka akan mencetak print("At last one of the conditions are True")

In [ ]:
# Nested if
x = 41

if x > 10:
  print("Above ten, ")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")
# jika ketentuan(if) x > 10 terpenuhi maka akan mencetak print("Above ten, ")
# dan akan ditanyakan ketentuan berikutnya yaitu jika ketentuan(if) x > 20 terpenuhi maka akan mencetak print("and also above 20!")
# dan jika ketentuan tadi tidak terpenuhi maka akan mencetak print("but not above 20.")

Above ten,
and also above 20!

In [ ]:
# while loop
i = 1
while i < 6:
  print(i)
  i += 1
# ketika nilai i < 6 maka akan dilakukan pencetakan print(i) dan ada increment yang akan terus manambahkan nilai i (i+1) secara berlanjut sampai ketentuan i < 6 terpenuhi

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1
# ketika nilai i < 6 maka akan mencetak print(i), lalu jika ketentuan(if) i == 3 maka akan berhenti(break) disini juga ada increment penambahan nilai i

1
2
3

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)
# ketika(while) i < 6 maka akan dilakukan increment penambahan nilai i, lalu jika ketentuan(if) i==3 terpenuhi maka akan dilanjutkan dan mencetak print(i)/ mencetak nilai i

1
2
4
5
6

In [ ]:
# for loops
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
# untuk x didalam variable fruits akan di cetak, atau semua isi dari fruits akan dicetak terus sampai semuanya

apple
banana
cherry

In [ ]:
for x in "banana":
  print(x)
# untuk x didalam string kata banana akan dicetak per hurufnya terus sampai habis, karena setiap huruf dari banana akan terus menggantikan nilai x untuk dicetak

b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break
# untuk x didalam variable array fruits akan terus digantikan nilai x dengan nilai array fruits terus, lalu mencetak print(x) yaitu nilai dari array fruits,
# lalu jika memenuhi ketentuan(if) x==banana maka akan berhenti sampai situ saja
# dan disini banana masih sempat tercetak(print) karena dia masih sempat dicetak(print) sebelum di berhentikan (break)

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)
# untuk x didalam variable array fruits akan terus digantikan nilai x dengan nilai fruits terus
# lalu jika memenuhi ketentuan(if) x==banana maka akan berhenti sampai situ saja, setelah itu lalu di cetak print(x)
# dan disini banana tidak sempat tercetak(print) karena dia belum sempat dicetak(print) tapi sudah di berhentikan (break)

apple

In [1]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)
# untuk x didalam variable array fruits akan terus digantikan nilai x dengan nilai fruits terus
# lalu jika memenuhi ketentuan(if) x==banana maka akan dilanjutkan(continue) ke nilai berikutnya seperti di skip
# sehingga nilai banana tidak sempat di cetak print(x) dan langsung lanjut mencetak nilai cherry

apple
cherry

In [ ]:
for x in range(6):
  print(x)
# untuk nilai x akan terus digantikan oleh nilai jarak angka ke 6, yaitu 0 sampai 6 (tapi 6 tidak ikut)
# lalu mencetak print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print(x)
# untuk nilai x akan terus digantikan oleh nilai jarak angka dari 2 ke 6, yaitu 2 sampai 6 (tapi 6 tidak ikut)
# lalu mencetak print(x)

2
3
4
5

In [ ]:
for x in range(2, 30, 3):
  print(x)
# untuk nilai x akan terus digantikan oleh nilai jarak angka dari 2 ke 3, yaitu 2 sampai 6 (tapi 30 tidak ikut) dengan rentang 3 angka
# lalu mencetak print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
# variable menyimpan array

for x in adj:
  for y in fruits:
    print(x, y)
# untuk x nilainya akan terus digantikan dengan nilai dari variable adj,
# lalu untuk nilai y akan terus digantikan dengan nilai dari variable fruits dan mencetak print(x, y) yaitu nilai dari array adj dan fruits secara bersamaan sampai semua sudah tercetak atau sudah digantika kedalam variable x dan y

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
# functions
def my_function():
  print("Hello from a function")
# mendefinisikan fungsi dan fungsi memiliki perintah untuk mencetak tulisan Hello from a function

In [ ]:
# ini untuk memanggil fungsi my_function yang telah didefinisikan diatas
my_function()

Hello from a function

In [ ]:
# arguments
def my_function(fname):
  print(fname + " Refsnes")
# mendefinisikan fungsi yang akan mecetak fname(ini dari fname tentunya) dan tulisan Refsnes

# def my_function(fname):   code ini mendefinisikan fungsi my_function yang akan menerima data yang akan diisi ke fname,
# dan isi yang telah diisi barusan akan digunakan sesuai apa yang akan dilakukan didalam fungsi tersebut

my_function("Emil")
my_function("Tobias")
my_function("Linus")
# memanggil fungsi my_function yang membawa nilai ("Emil")/("Tobias")/("Linus") yang akan menjadi isi dari variable fname pada fungsi my_function(fname)

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [ ]:
# return values
def my_function(x):
  return 5 * x
# medefinisikan fungsi dan fungsi tersubut akan mengembalikan nilai x setelah diterapkan perhitungan 5 * x
# (x ini adalah nilai x yang di terima pada saat pemanggilan fungsi yang membawa nilai yang akan dimasukan kedalam variable x)

print(my_function(3))
print(my_function(5))
print(my_function(9))
# mencetak sekaligus memanggil fungsi yang membawa nilai yang akan dimasukan kedalam variable x yaitu 3, 5, 9

15
25
45