In [ ]:
# Cecillia Cherish Mardjuki _ 825220090

In [ ]:
import numpy as np
# Menginpor library numpy sebagai np agar lebih singkat/mudah

In [ ]:
data_path = "ClassicCars.csv"
# Menyimpan data "ClassicCars.csv" ke dalam variabel data_path

In [ ]:
types = ['U20', 'U10', 'U5', 'U20', 'U3', 'f4', 'f4', 'f4', 'f4', 'U10', 'i4', 'i4','i4','i4','i4']
# Menyediakan tipe data untuk masing-masing kolom dalam file CSV. Misalnya, 'U20' menunjukkan string dengan panjang maksimal 20 karakter, 'f4' menunjukkan float 32-bit, dan 'i4' menunjukkan integer 32-bit.

In [ ]:
data = np.genfromtxt(data_path, dtype=types, delimiter=',', names=True)
# Menggunakan fungsi genfromtxt dari numpy untuk membaca data dari file CSV.
# Parameter yang digunakan melibatkan tipe data dtype, delimiter sebagai pemisah kolom,
# dalam code ini yang digunakan yaitu koma, dan names=True untuk menganggap baris pertama sebagai nama kolom.

In [ ]:
data.dtype.names
# Untuk mengakses data/nama-nama dari kolom array

('make',
 'fueltype',
 'numofdoors',
 'bodystyle',
 'drivewheels',
 'wheelbase',
 'length',
 'width',
 'height',
 'numofcylinders',
 'enginesize',
 'horsepower',
 'citympg',
 'highwaympg',
 'price')

In [ ]:
print("The shape of the array is: ", data.shape)
# Mencetak tulisan "The shape of the array is: " dan menampilkan data dari shape yaitu jumlah array yang terbentuk

The shape of the array is:  (205,)

In [ ]:
print(data['make'])
# mencetak isi dari kolom make, yang berisi merek mobil

['alfa-romero' 'alfa-romero' 'alfa-romero' 'audi' 'audi' 'audi' 'audi'
 'audi' 'audi' 'audi' 'bmw' 'bmw' 'bmw' 'bmw' 'bmw' 'bmw' 'bmw' 'bmw'
 'chevrolet' 'chevrolet' 'chevrolet' 'dodge' 'dodge' 'dodge' 'dodge'
 'dodge' 'dodge' 'dodge' 'dodge' 'dodge' 'honda' 'honda' 'honda' 'honda'
 'honda' 'honda' 'honda' 'honda' 'honda' 'honda' 'honda' 'honda' 'honda'
 'isuzu' 'isuzu' 'isuzu' 'isuzu' 'jaguar' 'jaguar' 'jaguar' 'mazda'
 'mazda' 'mazda' 'mazda' 'mazda' 'mazda' 'mazda' 'mazda' 'mazda' 'mazda'
 'mazda' 'mazda' 'mazda' 'mazda' 'mazda' 'mazda' 'mazda' 'mercedes-benz'
 'mercedes-benz' 'mercedes-benz' 'mercedes-benz' 'mercedes-benz'
 'mercedes-benz' 'mercedes-benz' 'mercedes-benz' 'mercury' 'mitsubishi'
 'mitsubishi' 'mitsubishi' 'mitsubishi' 'mitsubishi' 'mitsubishi'
 'mitsubishi' 'mitsubishi' 'mitsubishi' 'mitsubishi' 'mitsubishi'
 'mitsubishi' 'mitsubishi' 'nissan' 'nissan' 'nissan' 'nissan' 'nissan'
 'nissan' 'nissan' 'nissan' 'nissan' 'nissan' 'nissan' 'nissan' 'nissan'
 'nissan' 'nissan' 'nissan' 'nissan' 'nissan' 'peugot' 'peugot' 'peugot'
 'peugot' 'peugot' 'peugot' 'peugot' 'peugot' 'peugot' 'peugot' 'peugot'
 'plymouth' 'plymouth' 'plymouth' 'plymouth' 'plymouth' 'plymouth'
 'plymouth' 'porsche' 'porsche' 'porsche' 'porsche' 'porsche' 'renault'
 'renault' 'saab' 'saab' 'saab' 'saab' 'saab' 'saab' 'subaru' 'subaru'
 'subaru' 'subaru' 'subaru' 'subaru' 'subaru' 'subaru' 'subaru' 'subaru'
 'subaru' 'subaru' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota'
 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota'
 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota'
 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota'
 'toyota' 'toyota' 'volkswagen' 'volkswagen' 'volkswagen' 'volkswagen'
 'volkswagen' 'volkswagen' 'volkswagen' 'volkswagen' 'volkswagen'
 'volkswagen' 'volkswagen' 'volkswagen' 'volvo' 'volvo' 'volvo' 'volvo'
 'volvo' 'volvo' 'volvo' 'volvo' 'volvo' 'volvo' 'volvo']

In [ ]:
data['bodystyle']
# menampilkan kolom bodystyle

array(['convertible', 'convertible', 'hatchback', 'sedan', 'sedan',
       'sedan', 'sedan', 'wagon', 'sedan', 'hatchback', 'sedan', 'sedan',
       'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'hatchback',
       'hatchback', 'sedan', 'hatchback', 'hatchback', 'hatchback',
       'hatchback', 'sedan', 'sedan', 'sedan', 'wagon', 'hatchback',
       'hatchback', 'hatchback', 'hatchback', 'hatchback', 'hatchback',
       'sedan', 'wagon', 'hatchback', 'hatchback', 'sedan', 'sedan',
       'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'hatchback', 'sedan',
       'sedan', 'sedan', 'hatchback', 'hatchback', 'hatchback', 'sedan',
       'sedan', 'hatchback', 'hatchback', 'hatchback', 'hatchback',
       'hatchback', 'sedan', 'hatchback', 'sedan', 'sedan', 'hatchback',
       'sedan', 'sedan', 'sedan', 'wagon', 'hardtop', 'sedan', 'sedan',
       'convertible', 'sedan', 'hardtop', 'hatchback', 'hatchback',
       'hatchback', 'hatchback', 'hatchback', 'hatchback', 'hatchback',
       'hatchback', 'hatchback', 'hatchback', 'sedan', 'sedan', 'sedan',
       'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'wagon', 'sedan',
       'hatchback', 'sedan', 'wagon', 'hardtop', 'hatchback', 'sedan',
       'sedan', 'wagon', 'sedan', 'hatchback', 'hatchback', 'hatchback',
       'sedan', 'sedan', 'wagon', 'wagon', 'sedan', 'sedan', 'wagon',
       'wagon', 'sedan', 'sedan', 'sedan', 'hatchback', 'hatchback',
       'hatchback', 'sedan', 'sedan', 'wagon', 'hatchback', 'hatchback',
       'hardtop', 'hardtop', 'convertible', 'hatchback', 'wagon',
       'hatchback', 'hatchback', 'sedan', 'hatchback', 'sedan',
       'hatchback', 'sedan', 'hatchback', 'hatchback', 'hatchback',
       'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'wagon', 'wagon',
       'wagon', 'wagon', 'hatchback', 'hatchback', 'hatchback', 'wagon',
       'wagon', 'wagon', 'sedan', 'hatchback', 'sedan', 'hatchback',
       'sedan', 'hatchback', 'sedan', 'sedan', 'hatchback', 'sedan',
       'hatchback', 'hardtop', 'hardtop', 'hatchback', 'hardtop',
       'hatchback', 'convertible', 'sedan', 'sedan', 'hatchback', 'sedan',
       'hatchback', 'hatchback', 'hatchback', 'sedan', 'wagon', 'sedan',
       'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'sedan',
       'convertible', 'hatchback', 'sedan', 'sedan', 'wagon', 'sedan',
       'wagon', 'sedan', 'wagon', 'sedan', 'wagon', 'sedan', 'sedan',
       'sedan', 'sedan', 'sedan'], dtype='<U20')

In [ ]:
min=np.min(data['price'])
# untuk menghitung nilai minimum dari kolom price, dan menyimpannya dalam variabel min
max=np.max(data['price'])
# untuk menghitung nilai maximum dari kolom price, dan menyimpannya dalam variabel max
mean=np.mean(data['price'])
# untuk menghitung nilai rata-rata dari kolom price, dan menyimpannya dalam variabel mean

print('Min car price:', min)
# mencetak minimum price
print('Max car price:', max)
# mencetak maximum price
print('Range: ', max-min)
# mencetak hasil dari selisih maximum dan minimum
print('Price %.2f' % mean)
# %f untuk nilai float, dan disini %.2f untuk menampilkan dua angka setelah koma pada nilai price

Min car price: 5118
Max car price: 45400
Range:  40282
Price 13300.24

In [ ]:
def stdUsingNumpyOnly (prices) :
  return np.sqrt(np.sum(np.power(np.subtract(prices, np.mean (prices)), 2))/len(prices))
# np.sqrt : Menghitung akar kuadrat dari total jumlah kuadrat devisiasi
# np.sum : Menjumlahkan semua kuadrat deviasi
# np.power : Menghitung kuadrat dari setiap deviasi
# np.subtract(prices, np.mean(prices)): Menghitung selisih antara setiap nilai harga dan nilai rata-rata, menghasilkan deviasi dari nilai rata-rata
# np.mean(prices): Menghitung nilai rata-rata dari price
# len(prices): Mengetahui jumlah total price / harga

In [ ]:
def stdImplementation(prices):
  meanPrice = np.mean(prices)
  # Menghitung nilai rata-rata dari price dan menyimpannya dalam variabel meanPrice
  priceDiffSq = [np.power(price-meanPrice, 2) for price in prices]
  # Menghitung kuadrat dari selisih antara setiap harga dan nilai rata-ratanya dan dismipan dalam variabel priceDiffSq
  priceDiffAvg = np.sum(priceDiffSq)/len(prices)
  # Menghitung rata-rata dari kuadrat price, melibatkan penjumlahan semua kuadrat deviasi dan kemudian dibagi dengan jumlah total harga
  return np.sqrt(priceDiffAvg)
  # Mengembalikan hasil perhitungan akar kuadrat dari nilai rata-rata kuadrat price yang telah dihitung sebelumnnya dalam fungsi stdUsingNumpyOnly

In [ ]:
print("Standard deviation using only numpy functions: ", stdUsingNumpyOnly(data['price']))
# mencetak tulisan dan hasil dari pemanggilan fungsi stdUsingNumpyOnly dengan parameter price

Standard deviation using only numpy functions:  7969.54140103854

In [ ]:
print("Standard deviation by implementing std function: ", stdImplementation(data['price']))
# mencetak tulisan dan hasil dari pemanggilan fungsi stdImplementation dengan parameter price

Standard deviation by implementing std function:  7969.54140103854

In [ ]:
print("Standard deviation using NumPy's std function:", np.std(data['price']))
# mencetak tulisan dan hasil dari pemanggilan fungsi std dengan menggunakan library nupy untuk menghitung seberapa bervariasinya data price

# ini saya kurang paham

Standard deviation using NumPy's std function: 7969.54140103854

In [ ]:
carsVolume = np.multiply(np.multiply(data['length'], data['height']), data['width'])
# Membuat array carsVolume yang berisi hasil perkalian dari kolom length, height, dan width
maxVolume = np.max(carsVolume)
# np.max(carsVolume) untuk mencari nilai maksimum dalam array carsVolume dan lalu akan disimpan pada variabel maxVolume
minVolume = np.min(carsVolume)
# np.min(carsVolume) untuk mencari nilai minimum dalam array carsVolume dan lalu akan disimpan pada variabel minVolume
carWithMaxVolume = np.argmax(carsVolume)
# Menggunakan fungsi np.argmax() untuk mencari indeks dengan volume terbesar dalam array carsVolume dan lalu akan disimpan para variabel carWithMaxVolume
carWithMinVolume = np.argmin(carsVolume)
# Menggunakan fungsi np.argmin() untuk mencari indeks dengan volume terkecil dalam array carsVolume dan lalu akan disimpan para variabel carWithMinVolume
# catatan dari ppt : np.argmax Returns the indices of the maximum values along an axis.

In [ ]:
print("Max volume:", maxVolume, " belongs to car ", data[carWithMaxVolume])
# mencetak max volume dengan memangil variabel maxvolume yang sudah ada isinya dan mencetak data dari data mobil carWithMaxVolume
print("Min volume:", minVolume, " belongs to car ", data[carWithMinVolume])
# mencetak min volume dengan memangil variabel minvolume yang sudah ada isinya dan mencetak data dari data mobil carWithMinVolume

Max volume: 846007.7  belongs to car  ('mercedes-benz', 'gas', 'four', 'sedan', 'rwd', 120.9, 208.1, 71.7, 56.7, 'eight', 308, 184, 14, 16, 40960)
Min volume: 452643.2  belongs to car  ('chevrolet', 'gas', 'two', 'hatchback', 'fwd', 88.4, 141.1, 60.3, 53.2, 'three', 61, 48, 47, 53, 5151)

In [ ]:
print("Unique bodystyles: ", np.unique(data['bodystyle']))
# mencetak data yang berada pada kolom bodystyle yang unik/berbeda dari yang lain

Unique bodystyles:  ['convertible' 'hardtop' 'hatchback' 'sedan' 'wagon']

In [ ]:
uniqueCarMakes = np.unique(data['make'])

print("There are ", len(uniqueCarMakes), "unique car makes which are:", uniqueCarMakes)

There are  22 unique car makes which are: ['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan' 'peugot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen'
 'volvo']

In [ ]:
fuelDiff = np.subtract(data['highwaympg'], data['citympg'])
minFuelDiff = np.min(fuelDiff)
maxFuelDiff = np.max(fuelDiff)
carWithMinFuelDiff = np.argmin(fuelDiff)
carWithMaxFuelDiff = np.argmax(fuelDiff)

In [ ]:
print("A %s with engine size=%d and horsepower=%d has the minimum fuel difference (%d) when driven in the city and the highway" %
      # Ini adalah string format yang menggunakan operator % untuk menyematkan nilai variabel ke dalam string
       (data['make'][carWithMinFuelDiff], data["enginesize"][carWithMinFuelDiff],data['horsepower'][carWithMinFuelDiff], minFuelDiff))
# ini yang mengantikan formatnya
# mengambil data dan menampilkan, data dari kolom make, data dari kolom enginesize, data dari horsepower yang dimana carWithMinFuelDiff(mobil dengan minimial fuell diff)

print("A %s with engine size=%d and horsepower=%d has the maximum fuel difference (%d) when driven in the city and the highway" %
      # Ini adalah string format yang menggunakan operator % untuk menyematkan nilai variabel ke dalam string
       (data['make'][carWithMaxFuelDiff], data["enginesize"][carWithMaxFuelDiff],data['horsepower'][carWithMaxFuelDiff], maxFuelDiff))
# ini yang mengantikan formatnya
# mengambil data dan menampilkan, data dari kolom make, data dari kolom enginesize, data dari horsepower yang dimana carWithMaxFuelDiff(mobil dengan maximal fuell diff)

# Catatan :
# d% itu integer
# s% itu string

A peugot with engine size=152 and horsepower=95 has the minimum fuel difference (0) when driven in the city and the highway
A porsche with engine size=203 and horsepower=288 has the maximum fuel difference (11) when driven in the city and the highway

In [ ]:
makes,counts = np.unique(data['make'], return_counts=True)
# np.unique untuk mendapatkan nilai unik dari data pada kolom make yang akan disimpan pada variabel makes, dan untuk return_counts-true yang berati hasil pengembalian akan dihitung yang unik saja dan dimasukan kedalam variable counts
maxCarsSameMake = np.argmax(counts)
# np.argmax untuk menemukan indeks yang memiliki jumlah terbanyak dalam array counts
make = makes[maxCarsSameMake]
# Menentukan merek mobil dari array makes yang memiliki jumlah mobil terbanyak dengan menggunakan indeks yang ditemukan sebelumnya

print("The company has %d %s cars " % (np.max(counts), make))
# mencetak banyaknya mobil menggunakan np.max untuk nilai maximal pada data counts dan nama mobil terbanyak di kolom make

# Catatan :
# d% itu integer
# s% itu string

The company has 32 toyota cars

In [ ]:
carsWithLargeWheelBase = np.count_nonzero(data['wheelbase']>100)
# menhitung data dari kolom wheelbase yang diatas 100, dan np.count_nonzero untuk menghitung index datanya tapi tidak mengambil nilai nol dan lalu di simpan ke variable carsWithLargeWheelBase

print("There are %d cars whose wheel base is greater than 100" % (carsWithLargeWheelBase))
# mencetak tulisan serta data yang diambil dari carsWithLargeWheelBase

There are 63 cars whose wheel base is greater than 100

In [ ]:
np.count_nonzero(data['wheelbase']<88.6)
# menghitung data dari wheelbase yang dibawah 88.6, np.count_nonzero untuk menghitung index datanya tapi tidak mengambil nilai nol
np.count_nonzero(data['wheelbase']==110)
# menghitung data dari wheelbase yang nilainya 110, np.count_nonzero untuk menghitung index datanya tapi tidak mengambil nilai nol

3

In [ ]:
cheapConvertibles = data[(data['bodystyle']=="convertible") & (data['price']<15000)]
# data yang diinginkan yaitu kolom bodystyle convertible dan data harganya dibawah 15000, lalu data yang telah ditemuakan akan dimasukan kedalam variable cheapConvertibles
print("Details of convertibles that cost less than £15000:\n", cheapConvertibles)
# mencetak tulisan dan memanggil/mengambil data dari cheapConvertibles tadi

Details of convertibles that cost less than £15000:
 [('alfa-romero', 'gas', 'two', 'convertible', 'rwd', 88.6, 168.8, 64.1, 48.8, 'four', 130, 111, 21, 27, 13495)
 ('volkswagen', 'gas', 'two', 'convertible', 'fwd', 94.5, 159.3, 64.2, 55.6, 'four', 109,  90, 24, 29, 11595)]

In [ ]:
Q3P = np.percentile(data['price'], 75) #Third quartile
# np.percentile untuk menghitung nilai persentil ke 75 dari kolom price dan akan di simpan pada variable Q3P
Q1P = np.percentile(data['price'], 25) #First quartile
# np.percentile untuk menghitung nilai persentil ke 25 dari kolom price dan akan di simpan pada variable Q1P
IQRP = Q3P - Q1P #Inter Quartile Range
# menghitung hasil dari pengurangan Q3P dan Q1P dan hasilnya akan disimpan di variable IQRP

print('Price IQR:', IQRP)
# mencetak tulisan dan isi dari IQRP tadi

Price IQR: 8715.0

In [ ]:
percentile50HP = np.percentile(data['horsepower'], 50) #50th percentile
# np.percentile untuk menghitung nilai persentil ke 50 dari kolom price dan akan di simpan pada variable percentile50HP

print('Horsepower 50th percentile:', percentile50HP)
# mencetak tulisan serta hasil/isi dari percentile50HP
print("Median horsepower:", np.median(data['horsepower']))
# mencetak tulisan serta data dari kolom horsepower yang dijadikan median karena ada np.median

Horsepower 50th percentile: 95.0
Median horsepower: 95.0